body {
  background-color: thistle;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#hola {
  color: blueviolet;
}
ul {
  display: flex;
  flex-direction: column;
}
cite {
  color: maroon;
}
abbr {
  color: red;
}
h1 {
  color: rgb(161, 106, 201);
  font-size: 70px;
  text-shadow: 0px 0px 10px black;
  text-decoration: underline;
}
