/* 
Autor: Mateo Álvarez Murillo
Fecha de creación: 2023

Este código se proporciona bajo la Licencia MIT.
Para más información, consulta el archivo LICENSE en la raíz del repositorio. 
*/

body {
  display: flex;
  background: papayawhip;
  font-family: sans-serif;
  justify-content: center;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

figure {
  width: 240px;
}

figure figcaption {
  font-weight: bold;
  text-align: center;
  margin: 8px 0;
}
.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario ol li input {
  background: papayawhip;
}

.botones {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.boton input {
  background: papayawhip;
  width: 64px;
  height: 48px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0 0 0 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.boton {
  display: flex;
  justify-content: center;
}

.formulario ol {
  list-style: none;
}
.tutorial {
  margin: 100px 0 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tutorial span {
  font-weight: bold;
  margin-bottom: 10px;
}

figure img {
  border: 3px solid black;
  width: 100%;
  object-fit: cover;
  height: 240px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
