/* 
Autor: Mateo Álvarez Murillo
Fecha de creación: 2023

Este código se proporciona bajo la Licencia MIT.
Para más información, consulta el archivo LICENSE en la raíz del repositorio. 
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 62.5%;
}

ul li {
  font-size: large;
}

ul li:first-child {
  color: gray;
  text-decoration: underline;
}

#Enlacezzz {
  font-size: large;
}

/*Sin visitar la pagina*/
#Enlacezzz:link {
  color: purple;
}

/*Ya visitó la pagina*/
#Enlacezzz:visited {
  color: burlywood;
}

#Enlacezzz:hover {
  color: aquamarine;
}

/*Focus: Cuando esta centrado en el elemento*/
input[type="text"]:focus {
  background-color: gainsboro;
}
