/* 
Autor: Mateo Álvarez Murillo
Fecha de creación: 2023

Este código se proporciona bajo la Licencia MIT.
Para más información, consulta el archivo LICENSE en la raíz del repositorio. 
*/

@layer components {
  .card {
    @apply bg-gray-200 rounded-xl p-6 overflow-hidden;
  }

  .card .card-title {
    @apply font-bold mb-2 text-2xl;
  }

  .card .card-body {
    @apply text-gray-800 leading-relaxed mb-6;
  }

  .card .card-button {
    @apply text-blue-500 px-4 py-3 bg-gray-300 rounded hover:bg-blue-500 hover:text-white transition;
  }

  .card .card-footer {
    @apply border-t border-gray-300 pt-6 flex items-center justify-between;
  }

  .card .card-link {
    @apply text-blue-500 hover:text-blue-600 font-medium;
  }

  .card .card-header {
    @apply border-b border-gray-300 mb-3 pb-4 flex items-center justify-between;
  }

  .card .card-img {
    @apply w-full h-64 object-cover;
  }

  .card .card-overlay {
    @apply absolute top-0 left-0 w-full z-10 h-full bg-gradient-to-b from-transparent to-black;
  }
}
