/*
Autor: Mateo Álvarez Murillo
Fecha de creación: 2023

Este código se proporciona bajo la Licencia MIT.
Para más información, consulta el archivo LICENSE en la raíz del repositorio.

*/

@media (max-width: 1250px) {
  .wrap {
    width: 90%;
    margin: 0 auto;
  }

  #banner h1 {
    width: 100%;
    padding: 0px auto;
    font-size: 35px;
    text-align: center;
  }

  .card p {
    display: block;
    text-align: center;
    width: 90%;
    margin: 0 auto;
  }

  .card {
    width: 17%;
    height: 330px;
    margin: 1.45%;
  }

  #articles {
    width: 65%;
  }

  #articles article {
    width: 97%;
  }

  #footer .wrap > div {
    width: 25%;
  }

  #footer #browsers img {
    width: 14%;
  }

  #footer h5 {
    font-size: 30px;
  }
}

@media (max-width: 1080px) {
  #banner h1 {
    width: 100%;
    padding: 0px auto;
    font-size: 35px;
  }

  .card .category {
    font-size: 17px;
  }

  .card .description {
    font-size: 12px;
  }

  #articles {
    width: 61%;
  }

  #footer .wrap > div {
    width: 20%;
  }
}

@media (max-width: 970px) {
  #banner h1 {
    width: 100%;
    padding: 0px auto;
    font-size: 30px;
  }

  #articles {
    width: 59%;
  }

  #footer h5 {
    font-size: 22px;
  }

  #footer .wrap > div {
    width: 20%;
  }
}

@media (max-width: 925px) {
  #lateral {
    width: 25%;
  }

  #articles {
    width: 70%;
  }

  #lateral input[type="text"] {
    width: 78%;
  }

  .aside-box {
    width: 95%;
    height: auto;
    min-height: 140px;
    padding-bottom: 10px;
  }

  .aside-box a {
    margin: 10px 0px;
  }

  #login input[type="email"],
  #login input[type="password"] {
    width: 85%;
  }

  #login #user,
  #login #password {
    margin-left: 24px;
  }

  #login input[type="submit"],
  #login input[type="button"],
  #login input[type="reset"] {
    margin-bottom: 0px;
  }

  #login input[type="reset"] {
    display: none;
  }

  #footer .wrap > div {
    width: 25%;
    margin: 20px;
  }
}

@media (max-width: 899px) {
  #lateral h3 {
    font-size: 20px;
  }

  #articles article a {
    font-size: 20px;
  }
}

@media (max-width: 799px) {
  #banner h1 {
    font-size: 25px;
  }

  .card {
    height: auto;
    margin-bottom: 30px;
    margin-top: -10px;
  }

  .card .category {
    font-size: 15px;
  }
  .card .description {
    display: none;
  }

  #footer img {
    max-width: 100%;
  }
}

@media (max-width: 724px) {
  #header {
    width: 100%;
    height: 150px;
    padding-top: 10px;
  }

  #logo {
    float: none;
    width: 200px;
    margin: 0px auto;
  }

  #menu {
    clear: both;
    float: none;
    width: 440px;
    margin: 0px auto;
  }

  #lateral input[type="text"] {
    width: 75%;
  }
}

@media (max-width: 660px) {
  #articles {
    float: none;
    width: 100%;
    margin: 0px auto;
  }

  #lateral {
    margin: 0px auto;
    float: none;
    width: 100%;
    min-height: auto;
    margin-bottom: 30px;
  }

  #login #user,
  #login #password {
    margin-left: 50px;
  }

  #laretal input[type="text"] {
    width: 93%;
  }
  #footer {
    height: auto;
    padding-bottom: 40px;
  }

  #footer .wrap > div {
    width: 100%;
    margin: 0px auto;
    margin-top: 20px;
  }

  #footer h5 {
    font-size: 25px;
  }
}

@media (max-width: 475px) {
  #menu {
    width: 100%;
  }

  #logo {
    float: left;
  }

  #menu ul li {
    width: 100%;
    margin: 0px;
    line-height: 52px;
  }

  #menu ul li:hover {
    transform: scale(1, 1);
  }

  #header {
    height: 275px;
  }

  #banner h1 {
    font-size: 18px;
  }

  #banner {
    height: 85px;
  }

  #lateral input[type="text"] {
    width: 80%;
  }

  .card .icon {
    font-size: 35px;
  }

  .card:hover .icon {
    font-size: 35px;
  }

  .card .category {
    font-size: 13px;
  }

  #articles .data {
    float: none;
    margin: -10px;
    border-radius: 0px;
  }

  #articles article h4 {
    margin-top: 20px;
  }
}
