html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
}

section {
  max-width: 80rem;
}

.caja {
  width: 25rem;
  height: 25rem;
  background-color: aquamarine;
  border: 1rem solid aqua;
  float: left;
}

.clear {
  float: none;
  clear: both;
}

p {
  font-size: 1.3rem;
  font-weight: bold;
  font-family: Arial;
}

div > p {
  line-height: 22rem;
  text-align: center;
}
