/*
Autor: Mateo Álvarez Murillo
Fecha de creación: 2023

Este código se proporciona bajo la Licencia MIT.
Para más información, consulta el archivo LICENSE en la raíz del repositorio.
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
  font-size: 62.5%;
  font-family: sans-serif;
}

.fondo {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

h1 {
  font-weight: 0.5rem;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  align-items: center;
}

.cart {
  width: 20vw;
  height: 55vh;
  background: white;
  border-radius: 5px;
  border: 2px solid RGB(210, 214, 217);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.upPart {
  display: flex;
  height: 40%;
  flex-direction: column;
  align-items: center;
}

.upPart .imagen {
  width: 7rem;
  height: 7rem;
  position: relative;
  top: -5vh;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.upPart .imagen img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.downPart {
  width: 100%;
  height: 100%;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  flex-direction: column;
}

#boton {
  width: 50%;
  display: inline-block;
  height: 4rem;
  background: RGB(28, 120, 197);
  color: white;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

form input {
  width: 80%;
  height: 3rem;
  background-color: RGB(246, 246, 246);
  border: 0.1rem solid RGB(232, 232, 232);
  border-radius: 0.5rem;
  color: RGB(134, 135, 130);
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

form span {
  text-align: center;
  font-weight: 1rem;
  color: black;
}
