/*
Autor: Mateo Álvarez Murillo
Fecha de creación: 2023

Este código se proporciona bajo la Licencia MIT.
Para más información, consulta el archivo LICENSE en la raíz del repositorio.
*/

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
}

#container {
  width: 90%;
  height: auto;
  margin: 0rem auto;
  border: 0.1rem solid rgb(225, 225, 226, 0.8);
  box-shadow: 0rem 0rem 1rem #ccc;
  margin: 4rem auto;
  min-height: 70rem;
}

#header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  height: 12rem;
  border-bottom: 0.1rem solid rgb(225, 225, 226, 0.8);
}

.logo {
  flex-grow: 1;
  flex-basis: 60%;
  padding: 1rem;
  margin-left: 2rem;
  color: black;
  text-shadow: 0.1rem 0.1rem 0rem #ccc;
  text-transform: uppercase;
}

.logo h1 {
  font-family: Helvetica;
  font-style: italic;
  font-weight: 900;
  font-size: 3rem;
}

#menu {
  padding-right: 1rem;
  flex-grow: 1;
  flex-basis: 30%;
  height: 100%;
}

#menu ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  justify-content: space-around;
}

#menu a {
  transition: all 300ms;
  text-transform: uppercase;
  padding: 1.5rem;
  font-size: 1.3rem;
  color: #444;
}

#menu a:hover {
  background: #ccc;
  color: white;
}

#content {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

#projetcs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-basis: 80%;
  margin-right: 2.5rem;
}

.project {
  margin-right: 20px;
  flex-basis: 20rem;
  flex-grow: 1;
  margin-bottom: 2.5rem;
  border: 0.1rem solid #ccc;
}

.project img {
  width: 100%;
}

.project-info {
  padding: 10px;
}

.project-info a {
  font-size: 1.6rem;
  color: black;
  transition: all 300ms;
}

.project-info a {
  font-size: 1.6rem;
  color: gray;
  transition: all 300ms;
}

.project-info a:hover {
  color: green;
}

#aside {
  flex-basis: 15%;
  margin-right: 3rem;
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#aside h2 {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 100;
  color: #444;
  padding-bottom: 10px;
  border-bottom: 0.1rem solid rgb(225, 225, 226, 0.8);
}

#aside ul {
  list-style: none;
}

#aside ul li:first-child {
  padding-top: 20px;
}

#aside ul li {
  padding-bottom: 20px;
}

#aside a {
  display: block;
  text-align: center;
  padding: 20px;
  background: #eee;
  color: #444;
  font-size: 1.2rem;
  text-transform: uppercase;
  transition: all 300ms;
}

#aside a:hover {
  background: #444;
  color: #eee;
}

#footer {
  border-top: 0.1rem solid rgb(225, 225, 226, 0.8);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 11rem;
  align-items: center;
}

#footer .logo {
  opacity: 0.5;
  flex-basis: auto;
  flex-grow: 1;
}

#footer .info {
  color: #444;
  flex-grow: 1;
  font-size: 1.4rem;
}

@media (max-width: 1200px) {
  #header {
    flex-direction: column;
    text-align: center;
    height: 13rem;
  }

  #menu > ul {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    align-items: flex-start;
    justify-content: space-evenly;
  }
}

@media (max-width: 840px) {
  #content {
    flex-direction: column;
  }

  #aside a {
    font-size: 1.5rem;
    flex-grow: 1;
  }

  #aside ul {
    height: 9rem;
    align-items: flex-end;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
  }
  #aside ul li:first-child {
    padding-top: 0px;
  }

  #projetcs {
    align-items: center;
    padding-left: 20px;
  }
}

@media (max-width: 640px) {
  #footer {
    flex-direction: column;
  }
}
