.container {
  display: grid;
  width: 90%;
  margin: 80px auto;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 200px;
}

.shadow {
  background: grey;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.circle {
  border-radius: 50%;
  background: papayawhip;
  width: 100px;
  height: 100px;
}

.circle:hover {
  transform: translate(20px, -20px);
}

.circle2 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: aqua;
}
.circle2:hover {
  transform: scale(2);
  /* transform: scale(2, 1.7); */
  /* transform: scaleX(2); */
  /* transform: scaleY(1.7); */
}

.circle3 {
  width: 100px;
  height: 100px;
  border-radius: 20%;
  background: greenyellow;
}

.circle3:hover {
  transform: skew(20deg, 10deg);
}

.circle4 {
  width: 100px;
  height: 100px;
  border-radius: 20%;
  background: rebeccapurple;
}

.circle4:hover,
.circle5:hover {
  transform: rotate(20deg);
}

.circle5 {
  width: 100px;
  height: 100px;
  border-radius: 20%;
  background: burlywood;
  transform-origin: left top;
}

.container2 {
  position: relative;
  width: 100px;
  height: 100px;
  border: 5px solid tan;
  perspective: 100px;
}

.item {
  width: 100px;
  height: 100px;
  background: wheat;
  opacity: 0.5;
  border: 3px solid tan;
  position: absolute;
  transform-style: preserve-3d;
  transform: rotateX(50deg);
}

.card {
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  position: relative;
}

.card:hover {
  transform: rotateY(180deg);
}

.face {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 20px;
  backface-visibility: hidden;
}

.front {
  background: papayawhip;
}

.back {
  background: teal;
  transform: rotateX(180deg);
}
