body {
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

header {
  width: 100%;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

.nav-right-section {
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 22rem;
  height: auto;
}

.nav-right-section li a {
  text-decoration: none;
  margin-right: 1rem;
  color: black;
  cursor: pointer;
}

.nav-right-section li:nth-child(2) {
  margin-right: 1rem;
}

.nav-right-section li:nth-child(1) {
  margin-right: 0.5rem;
}

nav .nav-right-section .menu-icon {
  background-image: url("https://static.thenounproject.com/png/756729-200.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-left: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}

nav .nav-right-section img {
  border-radius: 50%;
  margin-left: 2rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-border-radius: 5rem;
}

main {
  margin-top: 0.5rem;
  text-align: center;
}

main .main-logo {
  width: 56rem;
  margin: 0 auto;
  margin-bottom: 3.5rem;
}
main .main-logo img {
  width: 27.2rem;
  height: 9.2rem;
  object-fit: cover;
}
main .main-text {
  display: flex;
  gap: 0.6rem;
  justify-content: center;
  margin-top: 2rem;
}

main .main-text #text1 {
  color: RGB(77, 81, 86);
}

main .main-input {
  width: 53rem;
  margin: 0 auto 3.5rem;
}

main .main-input-container {
  margin: 0 auto;
  width: 53rem;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  border: 0.1rem solid RGB(216, 217, 217);
  display: flex;
  justify-content: center;
  align-items: center;
}

main .main-input input {
  width: 45rem;
  height: 4rem;
  border: none;
  outline: none;
}

main .main-input-container:hover {
  box-shadow: 0 0.1rem 0.6rem 0 #20212447;
  border-color: #dfe1e500;
}

main .main-input .search-icon {
  background-image: url("https://cdn.pixabay.com/photo/2017/01/13/01/22/magnifying-glass-1976105_1280.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 1.8rem;
  height: 1.8rem;
}

main .main-input .micro-icon {
  background-image: url("https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

main .main-buttons {
  width: 53rem;
  margin: -1rem auto 3rem;
}

main .main-buttons div {
  display: inline-block;
  margin: 0 0.5rem;
}

main .main-buttons div button {
  height: 3.6rem;
  background-color: RGB(248, 249, 250);
  border: 0;
  font-size: 1.4rem;
  color: RGB(60, 64, 67);
  border-radius: 0.5rem;
  padding: 0 1.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
main .main-buttons button:hover {
  border: 0.1rem solid #c6c6c6;
  box-shadow: 0 0.1rem 0.6rem 0 #20212447;
}

footer {
  width: 100%;
  height: 4.5rem;
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: RGB(242, 242, 242);
  border-top: 0.1rem solid RGB(218, 220, 224);
}

.footer-top {
  width: 100%;
  height: 4.9rem;
  position: absolute;
  bottom: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: RGB(242, 242, 242);
}

.footer-top a {
  text-decoration: none;
  font-size: 1.5rem;
  margin: 1.5rem 1.5rem 1.5rem 3rem;
  color: RGB(112, 117, 122);
}

footer ul {
  margin: 1rem;
  list-style: none;
  display: flex;
  padding-left: 1rem;
}

footer .footer-left {
  justify-self: left;
}

footer .footer-right {
  justify-self: right;
  padding-left: 0;
  padding-right: 1rem;
}

footer ul li a {
  text-decoration: none;
  font-size: 1.4rem;
  margin: 1.5rem;
  color: RGB(112, 117, 122);
}
