.container {
  display: grid;
  width: 400px;
  height: 400px;
  background: papayawhip;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.item {
  background: teal;
}

.container .item:nth-child(1) {
  grid-column: 1/2;
}

.container .item:nth-child(2) {
  grid-column: 2/3;
  grid-row: 2/3;
  background: seagreen;
}
.container .item:nth-child(3) {
  grid-column: 3/4;
  grid-row: 3/4;
  background: sienna;
}
.container .item:nth-child(4) {
  grid-column: 4/5;
  grid-row: 4/5;
  background: gray;
}
