body {
  margin: 0;
}

div {
  background: papayawhip;
  width: 200px;
  height: 200px;
  margin: 20px;
}

a {
  background: aqua;
  width: 200px;
  height: 200px;
  margin: 20px;
}

button {
  background-color: greenyellow;
  margin: 20px;
  width: 100px;
  height: 100px;
}
