/*
Autor: Mateo Álvarez Murillo
Fecha de creación: 2023

Este código se proporciona bajo la Licencia MIT.
Para más información, consulta el archivo LICENSE en la raíz del repositorio.
*/

:root {
  --very-light-pink: #c7c7c7;
  --white: #ffffff;
  --black: #000000;
  --text-input-field: #f7f7f7;
  --hospital-green: #acd9b2;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

.my-order {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

.title {
  font-size: var(--lg);
  margin-bottom: 40px;
}

.my-order-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
}

.my-order-content {
  display: flex;
  flex-direction: column;
}

.order {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 16px;
  margin-bottom: 24px;
  border-radius: 8px;
  align-items: center;
}

.order p:nth-child(1) {
  display: flex;
  flex-direction: column;
}

.order p span:nth-child(1) {
  font-size: var(--md);
  font-weight: bold;
}

.order p span:nth-child(2) {
  font-size: var(--sm);
  color: var(--very-light-pink);
}

.order p:nth-child(2) {
  text-align: end;
  font-weight: bold;
}

@media (max-width: 640px) {
  .title {
    display: none;
  }
}
