:root {
  --very-light-pink: #c7c7c7;
  --white: #ffffff;
  --black: #000000;
  --text-input-field: #f7f7f7;
  --hospital-green: #acd9b2;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

.desktop-menu {
  width: 100px;
  height: auto;
  border: 1px solid var(--very-light-pink);
  border-radius: 6px;
  padding: 20px 20px 0 20px;
}

.desktop-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.desktop-menu ul li:not(:last-child) {
  text-align: end;
  font-weight: bold;
}

.desktop-menu ul li:last-child {
  text-align: end;
  padding-top: 20px;
  border-top: 1px solid var(--very-light-pink);
}

.desktop-menu ul li:last-child a {
  color: var(--hospital-green);
  font-size: var(--sm);
}

.desktop-menu ul li a {
  text-decoration: none;
  color: var(--black);
  margin-bottom: 20px;
  display: inline-block;
}
