/* 
Autor: Mateo Álvarez Murillo
Fecha de creación: 2023

Este código se proporciona bajo la Licencia MIT.
Para más información, consulta el archivo LICENSE en la raíz del repositorio. 
*/

//Mixins (funciones)
@mixin crearBordes($color, $tamano) {
  border: $tamano solid $color;
  border-radius: 10px;
}

.caja {
  padding: 10px;
  @include crearBordes(yellow, 10px);
}

body {
  @include crearBordes(red, 10px);
}
