/*
Autor: Mateo Álvarez Murillo
Fecha de creación: 2023

Este código se proporciona bajo la Licencia MIT.
Para más información, consulta el archivo LICENSE en la raíz del repositorio.
*/

:root {
  --rojo: red;
  --verde: green;
  --azul: blue;
  --amarillo: yellow;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

/* Inline-flex se adapta a la linea en la que esta */

#layout {
  height: 65vh;
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  border: 3px solid black;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
}

/* flex-grow es para adaptar el elemento y hacerlo crecer */
/* Recibe de parametro cuanto crece el elemento o cuanto tiene que ocupar */

/* Flex-shrink es para adaptar el elemento y hacer disminuir su tamañano */
/* Recibe de parametro cuanto disminuye el elemento o cuanto tiene que ocupar */

/* Flex-basics es para poner el tamaño base al elemento  */

.caja {
  height: 50px;
  /* flex-basis: calc((100% / 3) -60px); */
  /* flex-basis: 25%; */
  /* flex-grow: 1; */
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: white;
  padding: 20px;
  border: 4px solid #222;
  margin: 20px;
  background: gray;
}

.rojo {
  align-self: flex-end;
  background: var(--rojo);
  /* flex-grow: 2; */
  order: -1;
}

.azul {
  align-self: flex-end;
  /* flex-basis: 100%; */
  background: var(--azul);
  /* flex-grow: 3; */
}

.amarillo {
  /* flex-shrink: 0; */
  background: var(--amarillo);
}

.verde {
  align-self: self-start;
  background: var(--verde);
}
