:root {
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #282623;
  --black: #201e1c;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

/* Estilos del header */
header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 32rem;
  height: 33.4rem;
  text-align: center;
  background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}

header img {
  width: 15rem;
  height: 2.4rem;
  margin-top: 6rem;
  align-self: center;
}

.header-title-container {
  width: 90%;
  min-width: 28.8rem;
  max-width: 90rem;
  height: 21.8rem;
  margin-top: 4rem;
  text-align: center;
  align-self: center;
}

.header-title-container h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}

.header-title-container p {
  margin-top: 2.5rem;
  font-size: 1.4rem;
  color: var(--soft-orange);
  line-height: 1.8rem;
  font-weight: 500;
}

.header-title-container .header-button {
  position: absolute;
  left: calc(50% - 118px);
  top: 27rem;
  display: block;
  margin-top: 3.5rem;
  padding: 15px;
  width: 229px;
  height: 4.8rem;
  background-color: var(--off-white);
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}

.header-button span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 1rem;
  background-image: url("assets/icons/down-arrow.svg");
}

/* Estilos del main */
main {
  width: 100%;
  height: auto;
  background-color: var(--off-white);
}

.main-exchange-container {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
}

.main-exchange-container-title {
  width: 90%;
  min-width: 28.8rem;
  max-width: 90rem;
  margin: 0 auto;
}

.main-exchange-container .background-img {
  width: 20rem;
  height: 20rem;
  margin: 0 auto;
  margin-bottom: 5rem;
  background-image: url("assets/img/Bitcoin.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-exchange-container-title h2 {
  margin-bottom: 3rem;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}

.main-exchange-container-title p {
  margin-bottom: 3rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #757575;
}

/* Estilos de las tablas */
.main-currency-table {
  width: 70%;
  min-width: 235px;
  max-width: 50rem;
  height: 360px;
  margin: 0 auto;
}

.main-currency-table .currency-table-title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  color: var(--bitcoin-orange);
}

.main-currency-table .currency-table-second-title {
  color: var(--secondary-blue);
}

.currency-table-container {
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 0 auto;
}

.currency-table-container table {
  width: 100%;
  height: 100%;
}

.currency-table-container td {
  width: 50%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: var(--grey);
  background-color: var(--just-white);
}

.currency-table-container .table__top-left {
  border-radius: 15px 0 0 0;
}

.currency-table-container .table__top-right {
  border-radius: 0 15px 0 0;
}

.currency-table-container .table__bottom-left {
  border-radius: 0 0 0 15px;
}

.currency-table-container .table__bottom-right {
  border-radius: 0 0 15px 0;
}

.currency-table-container .table__right {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.7rem;
  color: #757575;
}

.currency-table-container .down,
.currency-table-container .up {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-image: url("assets/icons/trending-down.svg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.currency-table-container .up {
  background-image: url("assets/icons/trending-up.svg");
}

.currency-table-date,
.currency-table-second-date {
  width: 190px;
  height: 30px;
  margin: 0 auto;
  padding: 8px;
  background-color: var(--soft-orange);
  margin-top: 15px;
  border-radius: 8px;
}

.currency-table-second-date {
  background-color: var(--soft-blue);
}

.currency-table-date p,
.currency-table-date b,
.currency-table-second-date p,
.currency-table-second-date b {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: var(--warm-black);
}

.currency-table-date b,
.currency-table-second-date b {
  font-weight: bold;
}

/* estilos para la segunda seccion de productos */
.main-product-detail {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 20px 10px;
  background-color: var(--warm-black);
}

.product-detail-batata-logo {
  position: absolute;
  width: 40px;
  height: 25px;
  top: -10px;
  left: calc(50% - 20px);
  background-image: url("assets/icons/batata.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.product-detail-title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}

.product-detail-title h2 {
  margin-bottom: 20px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}

.product-detail-title p {
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}

.product-detail-card {
  width: 90%;
  min-width: 288px;
  max-width: 400px;
  height: auto;
  min-height: 150px;
  margin: 15px auto;
  padding: 15px;
  background-color: var(--black);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.product-detail-card .icon-card {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.clock {
  background-image: url("assets/icons/clock.svg");
}

.eye {
  background-image: url("assets/icons/eye.svg");
}

.money {
  background-image: url("assets/icons/dollar-sign.svg");
}

.check {
  background-image: url("assets/icons/check-circle.svg");
}

.product-detail-card .product-card-title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--just-white);
}

.product-detail-card .product-card-body {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}

/* Estilos del hero */
.bitcoin-img-container {
  width: 100%;
  min-width: 320px;
  height: 50vh;
  background-image: url("assets/img/bitcoinbaby2x.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.bitcoin-img-container h2 {
  padding-top: 60px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}

/* Esttilos de la seccion de planes */
.main-plans-container {
  width: 100%;
  min-width: 320px;
  padding-bottom: 70px;
  text-align: center;
}

.plans-title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 50px;
}

.plans-title h2 {
  padding-top: 50px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}

.plans-title p {
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575;
}

.plans-container-slider {
  display: flex;
  height: 316px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

.plans-container-card {
  position: relative;
  scroll-snap-align: center;
  width: 70%;
  min-width: 190px;
  max-width: 300px;
  height: 250px;
  margin: 50px 5px 0;
  padding: 0 15px;
  background-color: var(--just-white);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.recomended {
  position: absolute;
  width: 120px;
  height: 31px;
  left: calc(50% - 60px);
  top: -15px;
  font-size: 1.2rem;
  padding: 6px;
  background-color: var(--bitcoin-orange);
  border-radius: 8px;
  color: var(--just-white);
}

.plan-card-title {
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--black);
}

.plan-card-price {
  padding: 5px 0;
  font-size: 5.2rem;
  font-weight: bold;
  color: var(--black);
}

.plan-card-price span {
  font-size: 1.2rem;
  font-weight: 300;
}

.plan-card-saving {
  font-size: 1.2rem;
  color: #757575;
}

.plan-card-ca {
  cursor: pointer;
  width: 150px;
  height: 48px;
  margin-top: 20px;
  background-color: var(--off-white);
  border: 2px solid var(--bitcoin-orange);
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--black);
  font-family: "DM Sans", sans-serif;
}

.plan-card-ca span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("assets/icons/orange-right-arrow.svg");
  vertical-align: text-bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

footer {
  display: flex;
  width: 100%;
  height: 150px;
  background-color: var(--bitcoin-orange);
}

footer section {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

footer .left ul {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  list-style: none;
}

.left li {
  margin: 10px 0;
}

.left li a {
  text-decoration: none;
  color: var(--just-white);
}
