/* 
Autor: Mateo Álvarez Murillo
Fecha de creación: 2023

Este código se proporciona bajo la Licencia MIT.
Para más información, consulta el archivo LICENSE en la raíz del repositorio. 
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/*
Transiciones
All es para todas las propiedades y luego vienen los segundos que dura la transicion
tambien se puede seleccionar por propiedades individualmente
*/
#boton {
  display: block;
  margin-top: 1rem;
  padding: 2rem;
  background-color: green;
  color: black;
  width: 20rem;
  font-size: large;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  border: 0.5rem solid rgb(0, 37, 0);
  transition: border 1s, background-color 3s, border-radius 2s;
}

#boton:hover {
  border-radius: 1.5rem;
  color: white;
  background-color: rosybrown;
  border: 0.5rem solid brown;
}

/*
Animation-name es la animacion que utilizaremos
Animation-duration es cuanto durara la animacion
Animation-iteration-count cuantas veces se reproduce la animacion
Animation-timing-funtion: para controlar como se maneja la animacion
*/
#caja {
  width: 25rem;
  height: 25rem;
  background-color: lightseagreen;
  color: white;
  margin-top: 1rem;
  text-align: center;
  font-weight: bold;
  font-size: large;
  line-height: 20rem;
  animation-name: desplazamiento2;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/*Declaramos los keyframes
Desplazamiento 1
*/

@keyframes desplazamiento {
  from {
    margin-left: 0rem;
  }
  to {
    margin-left: 80vw;
  }
}

/*Declaramos los keyframes
Desplazamiento 2
*/

@keyframes desplazamiento2 {
  0% {
    margin-left: 0rem;
    transform: rotate(0deg);
  }
  50% {
    margin-left: 80vw;
    transform: rotate(360deg);
    border-radius: 100%;
    background-color: blue;
  }
  100% {
    transform: rotate(0deg);
    margin-left: 0rem;
  }
}
