* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

div p {
  font-size: 1.6rem;
}

div span {
  font-size: 2rem;
}

section {
  display: flex;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background: papayawhip;
  width: 40vw;
  height: 100vh;
  margin: 0 auto;
}
