/* botones */
@layer components {
  .btn {
    @apply px-4 py-2 rounded shadow focus:shadow-md focus:outline-none transition-all;
  }

  .btn-blue {
    @apply text-white bg-blue-500 hover:bg-blue-600 ring-blue-300 focus:ring;
  }

  .btn-gray {
    @apply text-white bg-gray-500 hover:bg-gray-600 ring-gray-300 focus:ring;
  }

  .btn-green {
    @apply text-white bg-green-500 hover:bg-green-600 ring-green-300 focus:ring;
  }

  .btn-red {
    @apply text-white bg-red-500 hover:bg-red-600 ring-red-300 focus:ring;
  }

  .btn-yellow {
    @apply text-white bg-yellow-500 hover:bg-yellow-600 ring-yellow-300 focus:ring;
  }

  /* outline */
  .outline-btn-blue {
    @apply bg-white hover:bg-blue-500 hover:text-white border-2 border-blue-500 text-blue-500 ring-blue-300 focus:ring;
  }

  .outline-btn-gray {
    @apply bg-white hover:bg-gray-500 hover:text-white border-2 border-gray-500 text-gray-500 ring-gray-300 focus:ring;
  }

  .outline-btn-green {
    @apply bg-white hover:bg-green-500 hover:text-white border-2 border-green-500 text-green-500 ring-green-300 focus:ring;
  }

  .outline-btn-yellow {
    @apply bg-white hover:bg-yellow-500 hover:text-white border-2 border-yellow-500 text-yellow-500 ring-yellow-300 focus:ring;
  }

  .outline-btn-red {
    @apply bg-white hover:bg-red-500 hover:text-white border-2 border-red-500 text-red-500 ring-red-300 focus:ring;
  }

  /* degradado */
  .gradient-btn-blue {
    @apply text-white bg-gradient-to-r from-blue-500 to-blue-600 hover:from-blue-600 hover:to-blue-500 ring-blue-300 focus:ring;
  }

  .gradient-btn-gray {
    @apply text-white bg-gradient-to-r from-gray-500 to-gray-600 hover:from-gray-600 hover:to-gray-500 ring-gray-300 focus:ring;
  }

  .gradient-btn-green {
    @apply text-white bg-gradient-to-r from-green-500 to-green-600 hover:from-green-600 hover:to-green-500 ring-green-300 focus:ring;
  }

  .gradient-btn-red {
    @apply text-white bg-gradient-to-r from-red-500 to-red-600 hover:from-red-600 hover:to-red-500 ring-red-300 focus:ring;
  }

  .gradient-btn-yellow {
    @apply text-white bg-gradient-to-r from-yellow-500 to-yellow-600 hover:from-yellow-600 hover:to-yellow-500 ring-yellow-300 focus:ring;
  }
}
