/* 
Autor: Mateo 츼lvarez Murillo
Fecha de creaci칩n: 2023

Este c칩digo se proporciona bajo la Licencia MIT.
Para m치s informaci칩n, consulta el archivo LICENSE en la ra칤z del repositorio. 
*/

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: papayawhip;
}
p {
  font-size: medium;
}
div p:nth-child(2) {
  color: purple;
}

p:hover {
  color: darkgreen;
  font-size: large;
}

p::before {
  content: "游";
}

p::after {
  content: "游뱤";
}

::placeholder {
  color: darkgreen;
  background-color: papayawhip;
}
