/* 
Autor: Mateo Álvarez Murillo
Fecha de creación: 2023

Este código se proporciona bajo la Licencia MIT.
Para más información, consulta el archivo LICENSE en la raíz del repositorio. 
*/

html {
  font-size: 62.5%;
}

div {
  width: 100px;
  height: 100px;
  background: papayawhip;
}

p {
  font-size: 4rem;
}

body {
  margin: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  background: teal;
}
