/* 
Autor: Mateo Álvarez Murillo
Fecha de creación: 2023

Este código se proporciona bajo la Licencia MIT.
Para más información, consulta el archivo LICENSE en la raíz del repositorio. 
*/

.container {
  display: flex;
  background: papayawhip;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.item {
  width: 30px;
  height: 30px;
  background: aqua;
  margin: 20px;
}

.container .item:nth-child(2n + 1) {
  background: teal;
}
