/* 
Autor: Mateo Álvarez Murillo
Fecha de creación: 2023

Este código se proporciona bajo la Licencia MIT.
Para más información, consulta el archivo LICENSE en la raíz del repositorio. 
*/

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#chat {
  color: red;
}

.home {
  color: blue;
}

* {
  font-size: medium;
}

p {
  color: seagreen;
}
div p {
  color: olivedrab;
}
