/* 
Autor: Mateo Álvarez Murillo
Fecha de creación: 2023

Este código se proporciona bajo la Licencia MIT.
Para más información, consulta el archivo LICENSE en la raíz del repositorio. 
*/

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: papayawhip;
}
p {
  font-size: medium;
}
div p:nth-child(2) {
  color: purple;
}

p:hover {
  color: darkgreen;
  font-size: large;
}

p::before {
  content: "🐲";
}

p::after {
  content: "🤺";
}

::placeholder {
  color: darkgreen;
  background-color: papayawhip;
}
