/* 
Autor: Mateo Álvarez Murillo
Fecha de creación: 2023

Este código se proporciona bajo la Licencia MIT.
Para más información, consulta el archivo LICENSE en la raíz del repositorio. 
*/

div {
  position: absolute;
  background-color: papayawhip;
}

.one {
  z-index: 5;
}

.two {
  z-index: 4;
}

.red {
  width: 20px;
  height: 20px;
  background: red;
  z-index: 4;
}

.blue {
  width: 20px;
  height: 20px;
  background-color: blue;
  z-index: 3;
}

.yellow {
  width: 20px;
  height: 20px;
  background: yellow;
  z-index: 6;
}
