@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply
.btn {
  @apply px-7 py-2 rounded-lg font-bold;
}

.btn-red {
  @apply bg-red-500 text-white hover:bg-red-400;
}

.btn-scale {
  @apply transform hover:scale-125 transition duration-300;
} */

/* Layer */
@layer base {
  a {
    @apply text-center text-red-500;
  }
}

@layer components {
  .btn {
    @apply px-7 py-2 rounded-lg font-bold;
  }

  .btn-red {
    @apply bg-red-500 text-white hover:bg-red-400;
  }

  .btn-scale {
    @apply transform hover:scale-125 transition duration-300;
  }
}

@layer utilities {
  .bg-fondo {
    @apply bg-gray-200;
  }
}

/* Funciones */
/* Para visualizarlo mejor, ver el output.css */
@screen lg {
  .bg-negro {
    background: #000;
  }
}

.container-area {
  background: theme("colors.blue.300");
  width: theme("spacing.52");
}
