* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  width: 100%;
  height: 10vh;
  background: white;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li {
  font-size: 1.6rem;
  color: RGB(32, 100, 157);
  margin: 0 12px;
  font-weight: bold;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vh;
  height: 10vw;
}

.logo img {
  width: 100%;
  height: 10vh;
  object-fit: cover;
}
main {
  display: grid;
  grid-template-columns: 1fr 10fr;
}

.lateral_section {
  display: grid;
  padding: 7px 5px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background: RGB(169, 226, 254);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
}

.caja {
  background: white;
  border: 4px solid RGB(32, 100, 157);
  margin: 2vh;
  width: 15vh;
  height: 15vh;
  border-radius: 20%;
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  -ms-border-radius: 20%;
  -o-border-radius: 20%;
}

.caja img {
  width: 100%;
  height: 100%;
  border-radius: 20%;
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  -ms-border-radius: 20%;
  -o-border-radius: 20%;
}

.main_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: RGB(215, 248, 141);
  width: 100%;
  height: 80vh;
}

.caja_foto {
  width: 25vh;
  height: 25vh;
  margin: 2vh;
}

.caja_foto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 5px solid RGB(32, 100, 157);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.main_section span {
  color: RGB(32, 100, 157);
  font-weight: bold;
  font-size: 1.6rem;
}

footer {
  background: RGB(32, 100, 157);
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer ul {
  display: flex;
  list-style: none;
}

.redes {
  margin: 0 20px;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
}
