/* 
Autor: Mateo Álvarez Murillo
Fecha de creación: 2023

Este código se proporciona bajo la Licencia MIT.
Para más información, consulta el archivo LICENSE en la raíz del repositorio. 
*/

//operadores
#container {
  h1 {
    font-size: 15px * 2;
  }

  p {
    width: 500px / 1250px * 100%;
    color: white;
    background: black;
  }
}
