@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hamburger div:first-child {
    @apply rotate-45 translate-y-1.5;
  }

  .hamburger div:last-child {
    @apply -rotate-45 -translate-y-1;
  }

  .btn-download {
    @apply bg-black py-8 pl-4 w-60 h-12 flex rounded-lg items-center focus:outline-none;
  }
}
